.s{
    height: 100vh;
    align-items: center;
    display: block;
    
}
.s-title{
    align-items: center;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(241,161,127);
    background: linear-gradient(90deg, rgba(241,161,127,1) 14%, rgba(184,158,210,1) 40%, rgba(236,164,210,1) 89%);


color: aliceblue;
}
.s-top{
    
    height: 50vh;
}
.s-bottom{
    background: rgb(223,209,236);
    background: rgb(223,209,236);
    background: linear-gradient(90deg, rgba(223,209,236,1) 0%, rgba(189,174,126,1) 55%, rgba(223,200,88,1) 78%, rgba(255,242,90,1) 100%);
    height: 50vh;
}
table{
    padding-top: 20px;
    font-size: 100%;
    font-weight: 700;

}
td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.s-web{
    width: 100%;
    padding-top:30px ;
    height: 30%;
    
}
.s-img{
    height: 190px;
    transition: transform .2s;
    padding: 0px 10px;
    
}
.s-img:hover {
    transform: scale(1.4); 
       
}

.s-title2{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;

}
.s-sub{
    color: aliceblue;
}

@media screen and (max-width: 845px){
    .s{
        height: 50vh;
    }
    table{
        height: 30vh;
        width: 100%;
        
    }
    td{
        padding: 8px;
    }
    .s-img{
        height: 50px;

    }
    .s-img:hover{
        display: none;
    }
    
   .s-bottom{
    display: none;
   }

    
}
    